<style type="text/css">.error{ color:red;}</style>
 <div ng-controller="CarouselDemoCtrl">

    <carousel interval="1000" no-wrap="noWrapSlides">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{$index+1}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel> 
  
  
</div>
 <div style="clear:both;"></div>
<div class="container" ng-controller="loginController">
 <div flash-message="5000" ></div> 
 <div>
 <span style="width:75%"></span><span align="right" style="width:25%;float:right;right:0;"><a ng-click="register()" style="cursor:pointer;margin-right:2%;">Register</a><a ng-click="login()" style="cursor:pointer;">Login</a></span>
 </div>
 <div style="clear:both;"></div>
 <div ng-show="error_occur">{{error_occur}}</div>
 <div class="login_div" ng-show="login_div">
  <h3>Login form</h3>
  <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate> 
        <!-- EMAIL -->
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="user.email" required>
            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
       {{user.email}}
        </div>
         <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" ng-model="user.password" required ng-minlength="3">
           <p ng-show="userForm.password.$error.minlength" class="help-block">Password is too short.</p>
  
        </div>
        <!-- SUBMIT BUTTON -->
        <button type="submit" class="btn btn-primary"   ng-disabled="userForm.$invalid">Submit</button>
        
    </form>
</div>
 <div class="register_div" ng-hide="register_div">
  <h3>Registration form</h3>
<form name="form" class="css-form" novalidate>
    Name:
    <input type="text" ng-model="user.name" name="uName" class="form-control" required="" />
    <br />
    <div ng-show="form.$submitted || form.uName.$touched">
      <div class="error" ng-show="form.uName.$error.required">Name is required.</div>
    </div>

    E-mail:
    <input type="email" ng-model="user.email" name="uEmail" class="form-control"  required="" />
    <br />
    <div ng-show="form.$submitted || form.uEmail.$touched">
      <span class="error"  ng-show="form.uEmail.$error.required">Email address is required.</span>
      <span class="error"  ng-show="form.uEmail.$error.email">Please enter a valid emailaddress.</span>
    </div>
    Username:
    <input type="text" ng-model="user.username" class="form-control" ng-minlength="5" ng-maxlength="8" name="username" required="" />
    <br>
    <div ng-show="form.$submitted || form.username.$touched">
      <div class="error"  ng-show="form.username.$error.required">Username is required.</div>
      <div class="error"  ng-show="form.username.$error.minlength">Minimum 5 characters required.</div>
      <div class="error"  ng-show="form.username.$error.maxlength">Maximum 8 characters required.</div>
    </div>
     Age:
    <!--<input type="number" ng-model="user.age"  />
  --><input  user-valid type="text"  ng-model="user.age"  min="0" max="99" class="form-control" name="age" required="">
    <br>
    <div ng-show="form.$submitted || form.age.$touched">
      <div class="error"  ng-show="form.age.$error.required">Age is required.</div>
      <div class="error"  ng-show="form.age.$error.number">Only number is required in age.</div>
    </div>
    
    <div class="form-field" ng-repeat="(key, val) in hobbies">
     <input type="text" name="hobbie[]" />
     <a href="javascript:;" ng-click="removeHobbie(key)">Remove</a>
    </div>
    <a href="javascript:;" ng-click="addHobbie()">Add Hobbie</a>
    
     City:
    <input type="text" ng-model="user.city" class="form-control" name="city" required="" />
    <br>
    <div ng-show="form.$submitted || form.city.$touched">
      <div  class="error" ng-show="form.city.$error.required">City is required.</div>
    </div>
    State:
    <input type="text" ng-model="user.state" class="form-control" name="state" required="" />
    <br>
    <div ng-show="form.$submitted || form.state.$touched">
      <div  class="error" ng-show="form.state.$error.required">State is required.</div>
    </div>
    Country:
    <!--
    <input type="text"  class="form-control" name="country" required="" />
    -->
    <select ng-model="user.country" ng-change="changecountry(user.country)" class="form-control" name="country" />
    <option ng-repeat="option in data.availableOptions" value="{{option._id}}">{{option.country}}</option>
    </select>
    
    
 <!--   <br>
    <div ng-show="form.$submitted || form.country.$touched">
      <div class="error"  ng-show="form.country.$error.required">Country is required.</div>
    </div>-->
     
    Gender:<br>
    <input type="radio" name="sex" value="male" checked='checked'/>male
    <input type="radio" name="sex"   value="female" />female
    <br />
    <input type="checkbox" ng-model="user.agree" name="userAgree" required="" />

    I agree to the Terms and Conditions
    <input ng-show="user.agree" type="text" ng-model="user.agreeSign" required="" />
    <br />
    <div ng-show="form.$submitted || form.userAgree.$touched">
      <div  class="error" ng-show="!user.agree || !user.agreeSign">Kindly accept our Terms and Conditions.</div>
    </div>

    <input type="button" ng-click="reset(form)" value="Reset" class="btn btn-danger" />
    <input type="submit" ng-click="update(user)" value="Save" class="btn btn-primary"/>
  </form>
  
 </div>
</div>